<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ie.wit.hive">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACTION_OPEN_DOCUMENT" />

    <meta-data
        android:name="CLOUDINARY_URL"
        android:value="cloudinary://776514472824175:oeINFBLhml_8D4HEIO96bQ5ch9U@digabwjfx" />
    <meta-data
        android:name="API_KEY"
        android:value="776514472824175" />
    <meta-data
        android:name="CLOUD_NAME"
        android:value="digabwjfx" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".main.MainApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="BBA"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hive"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".views.hive.PopUpWindowView"
            android:exported="false" />
        <activity
            android:name=".views.login.LoginView"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.map.HiveMapView"
            android:exported="true"
            android:label="@string/title_activity_hive_maps"
            android:theme="@style/Theme.Hive.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".views.location.EditLocationView"
            android:exported="true"
            android:label="@string/title_activity_map" />
        <activity
            android:name=".views.hivelist.HiveListView"
            android:exported="true" />
        <activity android:name=".views.hive.HiveView" />
        <activity
            android:name=".views.login.RegisterView"
            android:exported="true" />
        <activity
            android:name=".views.aboutus.AboutUsView"
            android:exported="true" />
        <activity
            android:name=".views.ble.BleScanView"
            android:exported="true" />
        <activity
            android:name=".views.sensor.SensorView"
            android:exported="true" />
        <activity
            android:name=".views.login.GoogleRegisterView"
            android:exported="true" />
        <activity
            android:name=".views.charts.LineChartView"
            android:exported="true" />
        <activity
            android:name=".views.alarmlist.AlarmListView"
            android:exported="true" />

    </application>

</manifest>